/*index*/
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(166, 214, 214);
    background-color: darkblue;
    font-size: 20px;

}
/*header*/
.title1{
    
    color: rgb(140, 140, 246);

}
ul{
    background-color: rgb(25, 103, 247);
    list-style-type: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    margin: auto;
     display: flex;
   
}
li{
    padding: 10px;
    float: center;

}

a{
    text-decoration: none;
    color: blue;
}
a:hover{
    background-color: blue;
    color: aliceblue;
    
}
/*body*/
main{
    width:auto;
    text-align:auto;
    margin:auto, 100px, auto, 100px;

}
/*week3*/
.flex-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.flex-img{
    width: 400px;
}